/* GameModal.css */

.game-modal-overlay {
  position: fixed; /* or `absolute` if you want it to be within a positioned parent */
  top: 0;
  left: 0;
  right: 0; /* Ensuring it covers the full viewport */
  bottom: 0;
  width: 100vw; /* Viewport width */
  height: 100vh; /* Viewport height */
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* High z-index to make sure it covers other content */
}

.game-modal-content {
  position: relative; /* For the positioning of the close button if needed */
  max-width: 80vw; /* This ensures the modal doesn't exceed the viewport width */
  width: 80vw; /* Use viewport width for sizing */
  height: 90vh; /* Use viewport height for sizing */
  color: var(--text-color);
  background: #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Adds a shadow for better focus */
  border-radius: 8px;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.close-button {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  width: 48px;
  height: 48px;
  padding: 0;
  border-radius: 100%;
}
.game-heroimg {
  width: 100%;
}

@media (min-width: 900px) {
  .game-info-columns {
    display: flex;
  }
  .game-info-left, .game-info-right {
    margin-bottom: 28px;
  }
  .game-platforms {
    text-align: right;
  }
}
.game-info-left, .game-info-right {
  margin: 16px 20px;
}
.game-info-left {
  flex: 6;
}
.game-info-right {
  flex: 4;
}
.game-title {
  margin-bottom: 8px;
}
.game-desc {
  margin-bottom: 8px;
}

.game-modal-content .game-genre-tags {
  margin: -4px 0 4px -8px;
}
.game-modal-content .game-genre-tags span {
  font-size: 14px;
}

.game-platforms img {
  margin: 4px;
  height: 32px;
  filter: invert(1);
}

.game-modal-content ul {
  margin-bottom: 12px;
}
.game-modal-content ul li {
  margin-left: 1.5em;
}
