/* GameModal.css */

.game-modal-overlay {
  position: fixed; /* or `absolute` if you want it to be within a positioned parent */
  top: 0;
  left: 0;
  right: 0; /* Ensuring it covers the full viewport */
  bottom: 0;
  width: 100vw; /* Viewport width */
  height: 100vh; /* Viewport height */
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* High z-index to make sure it covers other content */
}

.game-modal-content {
  position: relative; /* For the positioning of the close button if needed */
  max-width: 80vw; /* This ensures the modal doesn't exceed the viewport width */
  width: 80vw; /* Use viewport width for sizing */
  height: 90vh; /* Use viewport height for sizing */
  color: var(--text-color);
  background: #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Adds a shadow for better focus */
  border-radius: 8px;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.game-hero-container {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
}
.game-heroimg {
  display: block;
  width: 100%;
}
.game-hero-container .game-star-target {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px;
}
.game-star-button {
  padding: 0 12px 0 8px;
  height: 36px;
  line-height: 36px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.1s;
}
.game-star-button:hover {
  background: rgba(0, 0, 0, 0.7);
}
.game-star-button .game-star-icon {
  vertical-align: top;
  margin-right: 4px;
  height: 36px;
  line-height: 36px;
}
.game-star-button.starred .game-star-icon {
  font-variation-settings: "FILL" 1;
  color: #f6bd60;
  opacity: 1;
}
.game-star-button .game-star-icon::before {
  content: "star";
  background: linear-gradient(
    150deg,
    var(--text-color) 0%,
    var(--text-color) 33%,
    rgba(244, 207, 28, 1) 67%,
    rgba(236, 40, 116, 1) 100%
  );
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 24px 72px;
  background-position: top left;
  transition: background-position 0.1s;
}
.game-star-button.starred .game-star-icon::before {
  background-position: bottom left;
}
.close-button {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  width: 48px;
  height: 48px;
  padding: 0;
  border-radius: 100%;
}

@media (min-width: 900px) {
  .game-info-columns {
    display: flex;
  }
  .game-info-left,
  .game-info-right {
    margin-bottom: 28px;
  }
  .game-platforms {
    text-align: right;
  }
}
.game-info-left,
.game-info-right {
  margin: 16px 20px;
}
.game-info-left {
  flex: 6;
}
.game-info-right {
  flex: 4;
}
.game-title {
  margin-bottom: 8px;
}
.game-desc {
  margin-bottom: 8px;
}

.game-modal-content .game-genre-tags {
  margin: -4px 0 4px -8px;
}
.game-modal-content .game-genre-tags span {
  font-size: 14px;
}

.game-platforms img {
  margin: 4px;
  height: 32px;
  filter: invert(1);
}

.game-modal-content ul {
  margin-bottom: 12px;
}
.game-modal-content ul li {
  margin-left: 1.5em;
}
